{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Django Project | Dikri</title>
</head>
<body>
    <img src="{% static 'img/django_contact.png' %}" alt="">
    <h1>Selamat Datang Di {{judul}}</h1>
    <h6>Penulis {{penulis}}</h6>
    <p>Website ini di buat dengan Django</p>

    <h3>CONTACT</h3>
    <ul>
        {% for link,name in nav%}
            <li>
                <a href="{{link}}">{{name}}</a>
            </li>
        {% endfor%}
    </ul>
    <hr>
    {% for data in data reversed %}
        <h3>{{data.judul}}</h3>
        <h5>{{data.waktu}}</h5>
        <p>{{data.content}}</p>
        <p>{{data.email}}</p>
        <hr>
    {% endfor %}
</body>
</html>